.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background:url(../../assets/background_banner.jpg) ,linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
.login-logo{
    margin-bottom: 40px;
}
.login-logo img{
    width: 200px;
}

form h1{
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.login form{
    
    width: 90%;
    max-width: 400px;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9));
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px;
    border-radius: 12px;
}

.field{
    outline: 0;
    border: 0;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgb(46, 42, 42);
}

#btn{
    border: 0;
    outline: 0;
    background-color: #D81F26;
    border-radius: 6px;
    padding: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.formhelp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 4px;
}
.remember input{
    cursor: pointer;
}

.field::placeholder{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.switch span{
    color: #fff;
}

.switch p{
    color: grey;
}

.switch{
    cursor: pointer;
}

@media (max-width:800px) {
    .navbar{
        padding: 20px 3%;
        background-image: url(../../assets/background_banner.jpg);
    }
}