.player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.player img{
    width: 50px;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: pointer;
    position: absolute
}

iframe{
    width: 90%;
    display: block;
    height: 90%;
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 0;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    z-index: 2;
    position: relative;

}