.cardlist{
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    margin:25px 0;
}

.cardlist::-webkit-scrollbar {
    display: none;
}

.card img{
    object-fit: cover;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
}
.titlecard h2{
    color: #fff;
    margin: 10px 0;
}
.card{
    text-decoration: none;
}
#title{
    color: #fff;
    text-decoration: none;
}

